.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.text-field:focused {
    -fx-border-color: #00ead0;
}

.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
}

.progress-bar {
    -fx-box-border: #252a2c;
    -fx-accent: #00ead0;
}

.progress-bar > .track {
    -fx-text-box-border: #252a2c;
    -fx-control-inner-background: #202020;
}

.progress-bar > .bar {
    -fx-border-color: #252a2c;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.1em;
}

.scroll-pane {
    -fx-background-color: #202020;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-pref-width: 15;
    -fx-padding: 3;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #00ead0;
    -fx-background-radius: 1em;
}

@font-face {
    font-family: 'Brown';
    src: url("/media/brown-regular.ttf");
}

.label {
    -fx-font-family: 'Brown';
    -fx-font-size: 20;
}
